stack-layout {
    border-color:green;
    border-width: 6;
}


AbsoluteLayout {
    background-color: aqua;
    padding: 0;
    height: 60;
}

button
{
    margin-left:0;
    margin-top:0;
    height: 60;
    width: 200;
    background-color: blueviolet;
    border-width: 1;
    border-color:transparent;
    color:white;
}
/*
Biz buttona tiklayinca bir animation olussun istiyoruz
Animasyon ismini belirliyoruz once

Buttona basili tutunca animasyonu gorebiliirz
Android de Absolute layout oldugu icin, enine-X ekseninde buyume yi gorebilirz , ama andorid de ise hem x hem  y ekseninde buyume hem saga dorgu hem de asagi yukari dogru buyume gerceklesiyor
Biz AbsoluteLayout a     background-color: aqua; kullandigmz zaman IOS da ayni android gibi sadece saga dogru genisliyor..Ama biz yine IOS un hemn saga hem yukariya genislemesini n devam etmesi icin gidip AbsoluteLayout attribute unde clipToBounds="false" kullaniriz
nativescriptte herhangi bir overflow property si yoktur ama bunu icin bir tricks var..CSS Overvlow property si nativescript tarafindan desteklenmiyor
Overfllow yerine biz AbsoluteLayout layout unun propertysi olarak, cliptToBounds="false" or true olarak  kullanarak problemimizi cozebiliirz
*/

@keyframes flash {
    from {
      background-color: red;
      transform:scale(1,1);
    }
    to {
      background-color: green;
      transform:scale(2,4);

    }
  }

  button:highlighted {
    animation-name: flash;
    animation-duration: 4s;
    animation-fill-mode: forwards;
  }

/*
Asagidaki gibi de yapabiliriz
@keyframes flash {
    0% {}
    50% {}
    100% {}
}

*/

label {
    font-size:24;
    font-family:"PoiretOne_Regular";
    /*
    Android de bu sekilde fonts klasoru altina ekledigmz font u taniyacaktir, ama Ios da tanimaz cunku biz direk filename i kullaniyoruz Androidde sknti olmyor, ama Ios da filename degil de gercek font name i ne ihtiyacimiz var onu nasil bulacagiz peki, windows da font-file ustune double click yparak bulabiliriz, ama Mac kullanicilar i icin ise font-book tan kontrol edilmesi gerekiyor, font Book diye bir uygulama var Mac de ondan kontrol etmemiz gerekir. Bunun icin fontbook u acariz ve fonts altina ekldigmz .ttf uzantili dosyai fontBook icine surukleriz ve Poiret ONe da font listesinde bu fontumuzun ismi Poiret One arada bosluk olacak sekilde gelir Ios icin de bu ismi kullnmammzi gerekecek
    */

    /* Hem android, hen ios da claismasi icin ise asagidaki gibi tanimlama yapilir  */
    font-family:"Poiret One, PoiretOne-Regular";
    color:black;
}

/* Ios icin yine fontBook a icomoon.ttf dosyasi suruklyerek ordaki ismi ne ise o 1.siraya sonra araya virgul koyarak, dosya ismi de android  icin yazilir*/
Label.icon {
    font-family: "icomoon";
    font-size:50;
    color:blue;
}

Label.icon2 {
    font-family: "icomoon2";
    font-size:50;
    color:green;
}
